In [1]:
my_list = [1,2,3,4,5]

In [3]:
for number in my_list:
    print(number)

1
2
3
4
5

In [4]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

In [8]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

In [9]:
if 2 in my_list:
    print("true")

true

In [10]:
for num in my_list:
    if num == 2:
        print("true")

true

In [11]:
my_string = "James Hetfield"

In [13]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
e
t
f
i
e
l
d

In [14]:
my_tuple = (1,2,3)

In [17]:
for item in my_tuple:
    print(item * 5 - 10)

-5
0
5

In [18]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [19]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [22]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [23]:
my_tuple_list = [(0,1,2),(3,4,5),(9,10,11)]

In [32]:
for (x,y,z) in my_tuple_list:
    print(z)

2
5
11

In [33]:
my_dictionary = {"key1": 100, "key2" : 200, "key3" : 300}

In [34]:
for (key,value) in my_dictionary.items():
    print(key)

key1
key2
key3