In [1]:
my_list = [1,2,3,4,5,6,7]

In [2]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7

## range

In [3]:
range(20)

range(0, 20)

In [4]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
for number in list(range(20)):
    print(number * 5 )

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [9]:
for num in list(range(5,21,4)):
    print(num)

5
9
13
17

## enumerate

In [15]:
index = 0
for number in list(range(5,15)):
    print(f"no: {number} ix: {index}")
    index += 1

no: 5 ix: 0
no: 6 ix: 1
no: 7 ix: 2
no: 8 ix: 3
no: 9 ix: 4
no: 10 ix: 5
no: 11 ix: 6
no: 12 ix: 7
no: 13 ix: 8
no: 14 ix: 9

In [16]:
for element in enumerate(list(range(5,15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [17]:
for (index,number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

## random

In [18]:
from random import randint

In [19]:
randint(0,1000)

687

In [20]:
randint(0,1000)

746

In [21]:
my_list_2 = list(range(0,10))

In [22]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
from random import shuffle

In [24]:
shuffle(my_list_2)

In [25]:
my_list_2

[0, 3, 7, 9, 2, 6, 4, 8, 1, 5]

## zip

In [26]:
sport_list = ["run","swim","basketball"]

In [27]:
calories_list = [100,200,300]

In [28]:
day_list = ["monday","tuesday","wednesday"]

In [32]:
new_list = list(zip(sport_list,calories_list,day_list))

In [33]:
new_list

[('run', 100, 'monday'),
 ('swim', 200, 'tuesday'),
 ('basketball', 300, 'wednesday')]

In [34]:
for element in new_list:
    print(element)

('run', 100, 'monday')
('swim', 200, 'tuesday')
('basketball', 300, 'wednesday')

## list advanced

In [38]:
new_list = []
my_string = "metallica"

for element in my_string:
    new_list.append(element)

In [39]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [40]:
new_list = [element for element in my_string]

In [41]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [47]:
new_list_2 = [number**5 for number in list(range(0,10))]

In [48]:
new_list_2

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]